## Assessment for Fundamentals of Data Analysis - GMIT Semester 2 Asessment

## HDip in Computer Science (Data Analysis)
### Tom Healy

In [67]:
#First, let's import the packages we will need.
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

#As we are plotting on white space, the use of a darkgrid background will add some contrast
sns.set(style="darkgrid")

#We read in the csv file and assign it to the var "df"

df = pd.read_csv('tips.csv')

In [68]:
#Let's print the entire set to evaluate the overall feel lof it. So we can see we have 7 
#columns with 244 rows. We have 3 numerical columns and 4 columns with categorical data.
print(df)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [69]:
#Bit redundant after the above but we can print the names of the columns
print(df.columns)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [70]:
#Let's take a look at the integrity of the data - any missing values. 
df['total_bill'].isnull()
df['tip'].isnull()
df['sex'].isnull()
df['smoker'].isnull()
df['day'].isnull()
df['time'].isnull()
df['size'].isnull()

print ("Here is the number of missing values in the set:\n",df.isnull().sum())

#Looks like we have good set (:-)) with no missing values

Here is the number of missing values in the set:
 total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [71]:
#This would have dropped any row with missing values from our dataset, it returned all rows will full features
df.dropna()

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [72]:
#Another check for missing data, a True value is returned for a missing value 
df.isna()

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
5         False  False  False   False  False  False  False
6         False  False  False   False  False  False  False
7         False  False  False   False  False  False  False
8         False  False  False   False  False  False  False
9         False  False  False   False  False  False  False
10        False  False  False   False  False  False  False
11        False  False  False   False  False  False  False
12        False  False  False   False  False  False  False
13        False  False  False   False  False  False  False
14        False  False  False   False  False  False  False
15        False  False  False   False  False  False  False
16        False  False  False   False  False  False  False
17        False  False  False   False  False  False  False
18        False  False  False   False  False  False  False
19        False  False  False   False  False  False  False
20        False  False  False   False  False  False  False
21        False  False  False   False  False  False  False
22        False  False  False   False  False  False  False
23        False  False  False   False  False  False  False
24        False  False  False   False  False  False  False
25        False  False  False   False  False  False  False
26        False  False  False   False  False  False  False
27        False  False  False   False  False  False  False
28        False  False  False   False  False  False  False
29        False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
214       False  False  False   False  False  False  False
215       False  False  False   False  False  False  False
216       False  False  False   False  False  False  False
217       False  False  False   False  False  False  False
218       False  False  False   False  False  False  False
219       False  False  False   False  False  False  False
220       False  False  False   False  False  False  False
221       False  False  False   False  False  False  False
222       False  False  False   False  False  False  False
223       False  False  False   False  False  False  False
224       False  False  False   False  False  False  False
225       False  False  False   False  False  False  False
226       False  False  False   False  False  False  False
227       False  False  False   False  False  False  False
228       False  False  False   False  False  False  False
229       False  False  False   False  False  False  False
230       False  False  False   False  False  False  False
231       False  False  False   False  False  False  False
232       False  False  False   False  False  False  False
233       False  False  False   False  False  False  False
234       False  False  False   False  False  False  False
235       False  False  False   False  False  False  False
236       False  False  False   False  False  False  False
237       False  False  False   False  False  False  False
238       False  False  False   False  False  False  False
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [73]:
#Next we describe the numerical values in the set
print(df.describe())

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [74]:
# The df dataset contains floats, objects(strings) and intergers
print(df.dtypes)

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [75]:
#Number of Rows and Columns
print(df.shape)

(244, 7)

In [76]:
#We are going to add another column to our datset. This column is the percetage of tip to total bill. This may come in handy later.
df['tip_pct'] = df['tip'] / df['total_bill']

In [77]:
#Let's check that worked
print(df.columns)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'tip_pct'], dtype='object')

In [78]:
#Printing to the screen the percentage value of total bill / tip, the first 10 only.
print(df['tip_pct'].head(10))

0    0.059447
1    0.160542
2    0.166587
3    0.139780
4    0.146808
5    0.186240
6    0.228050
7    0.116071
8    0.130319
9    0.218539
Name: tip_pct, dtype: float64

In [79]:
# Shows the non numeric counts, we have 244 
print(df.count())

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
tip_pct       244
dtype: int64

### df.describe()

In [80]:
#Shows the top 5 rows by tip value. The Sort and Groups are some of the most inportant in DS.
df.sort_values(by=['tip'],ascending=False).head(5)

     total_bill    tip   sex smoker   day    time  size   tip_pct
170       50.81  10.00  Male    Yes   Sat  Dinner     3  0.196812
212       48.33   9.00  Male     No   Sat  Dinner     4  0.186220
23        39.42   7.58  Male     No   Sat  Dinner     4  0.192288
59        48.27   6.73  Male     No   Sat  Dinner     4  0.139424
141       34.30   6.70  Male     No  Thur   Lunch     6  0.195335

In [81]:
#Here we are sorting on the size of the total bill. Row 170 had the highest bill amount.
df.sort_values(by=['total_bill'],ascending=False).head(5)

     total_bill    tip   sex smoker  day    time  size   tip_pct
170       50.81  10.00  Male    Yes  Sat  Dinner     3  0.196812
212       48.33   9.00  Male     No  Sat  Dinner     4  0.186220
59        48.27   6.73  Male     No  Sat  Dinner     4  0.139424
156       48.17   5.00  Male     No  Sun  Dinner     6  0.103799
182       45.35   3.50  Male    Yes  Sun  Dinner     3  0.077178

In [82]:
#Here we are sorting on the tip [ct column we added. Row 172 had the highest tip pct. (Happened on a Sunday, maybe they 
#were getting rid of change from night before :-)) 
df.sort_values(by=['tip_pct'],ascending=False).head(5)

     total_bill   tip     sex smoker  day    time  size   tip_pct
172        7.25  5.15    Male    Yes  Sun  Dinner     2  0.710345
178        9.60  4.00  Female    Yes  Sun  Dinner     2  0.416667
67         3.07  1.00  Female    Yes  Sat  Dinner     1  0.325733
232       11.61  3.39    Male     No  Sat  Dinner     2  0.291990
183       23.17  6.50    Male    Yes  Sun  Dinner     4  0.280535

In [83]:
#Same again except we sorting from the bottom up. 3%... ouch
df.sort_values(by=['tip_pct'],ascending=False).tail(5)

     total_bill   tip     sex smoker  day    time  size   tip_pct
187       30.46  2.00    Male    Yes  Sun  Dinner     5  0.065660
0         16.99  1.01  Female     No  Sun  Dinner     2  0.059447
57        26.41  1.50  Female     No  Sat  Dinner     2  0.056797
102       44.30  2.50  Female    Yes  Sat  Dinner     3  0.056433
237       32.83  1.17    Male    Yes  Sat  Dinner     2  0.035638

In [84]:
df.sort_values(by=['total_bill'],ascending=False).head(5)

     total_bill    tip   sex smoker  day    time  size   tip_pct
170       50.81  10.00  Male    Yes  Sat  Dinner     3  0.196812
212       48.33   9.00  Male     No  Sat  Dinner     4  0.186220
59        48.27   6.73  Male     No  Sat  Dinner     4  0.139424
156       48.17   5.00  Male     No  Sun  Dinner     6  0.103799
182       45.35   3.50  Male    Yes  Sun  Dinner     3  0.077178

In [87]:
df.groupby(['sex']).mean()

        total_bill       tip      size   tip_pct
sex
Female   18.056897  2.833448  2.459770  0.166491
Male     20.744076  3.089618  2.630573  0.157651

In [ ]:
df[0:4]

In [ ]:
df.loc[0]

In [ ]:
df.loc[:, ['tip', 'sex']]